html {
  background-color: #f7f7f7
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ff6600;
}
.jumbotron a:link {
  color: #ff6600;
  text-decoration: none;
}

.jumbotron a:hover {
  color: #ff6600;
  text-decoration: underline;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.forum {
 padding: 20px; 
}

noscript {
	text-align: center;
	margin: 5px auto 5px auto;
	width: 100%;
	background-color: yellow;
	padding: 11px;
	position: fixed;
	z-index: 999;
	top: -5px;
	border: 5px solid black;

}

.footer {
	padding:20px;
	display:inline;
}
